### Basic device configuration
:log info ("### Basic device configuration START");

:local deviceIp 10.242.178.11
:local networkId ($deviceIp&255.255.255.0)
:local gateway ($networkId|0.0.0.1)


/user/add name="{{device_username}}" password="{{device_password}}" group=full
/user/remove admin
/system identity set name="{{ device.name }}"
/system/ntp/client/ set servers=pool.ntp.org enabled=yes
/system clock set time-zone-name=Europe/Oslo
/system routerboard settings set auto-upgrade=yes
/snmp set enabled=yes
/ip route add gateway=$gateway
/ip dns set servers={{dns_servers}}


:log info ("### Basic device configuration END");



{% set bridge = device.interfaces.all() | selectattr('type','equalto','bridge') | list | first  %}
{% if bridge is not defined %}
    blank
{% endif%}
bridge IP: {{(bridge.ip_addresses.all() | first).address}}

{% for interface in device.interfaces.all() if interface.type == 'bridge' %}
    interface {{ interface }} {{ interface.type }}
    {% for ip in interface.ip_addresses.all() %}
    ip address {{ ip.address  }}
    {% endfor %}
{% endfor %}


{% for interface in device.interfaces.all() %}
    interface {{ interface }} {{ interface.type }}
    {% for ip in interface.ip_addresses.all() %}
    ip address {{ ip.address  }}
    {% endfor %}
{% endfor %}